@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

:root,
:root.dark {
  --background-color: #252422;
  --primary-color: #fffcf2;
  --secondary-color: #eb5e28;
  --grey-color: #ccc5b9;
  --dark-grey-color: #403d39;

  /* screens */
  --screens-sm: 640px;
  --screens-md: 768px;
  --screens-lg: 1024px;
  --screens-xl: 1280px;
  --screens-2xl: 1536px;
}

:root.light {
  --background-color: #fffcf2;
  --primary-color: #252422;
  --dark-grey-color: #ccc5b9;
  --grey-color: #403d39;
}
