.presentation {
  margin: 7rem auto;
}

.presentation p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.btnContainer {
  margin-top: 6rem;
  text-align: center;
}

:global :local(.presentation .animation) {
  animation: fadeInUp 1s ease-in-out both;
}
