.contactMe form button {
  font-size: 1.5rem;
}

.contactMe form fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.contactMe :global(.container) {
  margin: 4rem auto 8rem;
}

.inputContainer {
  margin-bottom: 2.5rem;
}

.inputContainer textarea {
  resize: none;
  height: 16rem;
}

@media only screen and (min-width: 992px) {
  .contactMe form {
    max-width: 50%;
  }
}
