.iconButton svg {
  width: 30px;
  height: 30px;
}

.nav {
  height: 60px;
  position: sticky;
  background: var(--secondary-color);
  transition: all 0.3s linear;
  box-shadow: 0 0 #0000,0 0 #0000,0 4px 6px -1px rgb(0 0 0/0.1),0 2px 4px -2px rgb(0 0 0/0.1);
  z-index: 50;
}

.nav.scrollDown {
  top: -60px;
}

.nav.scrollUp {
  top: 0;
}

.nav :global(.container) {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav :global(.container > *) {
  line-height: 0;
  position: relative;
}

.mobileMenu {
  margin-left: auto;
}

.nav a.logo {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2rem;
}

.nav a:hover {
  color: var(--background-color);
}

.nav .activeLink {
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--background-color);
}

.nav .iconButton {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  position: relative;
  padding: 0;
}

.nav .iconButton > * {
  position: absolute;
  top: 0;
  line-height: 0;
}

.nav .menuList {
  display: none;
  margin-left: auto;
  line-height: 1;
  list-style-type: none;
}

.nav .menuList li {
  margin-left: 2.5rem;
}

.nav ul.mobileList {
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0;
  padding: 1rem;
  position: absolute;
  top: 60px;
  left: 0;
  font-size: 2rem;
  line-height: 2;
  background-color: var(--dark-grey-color);
  list-style-type: none;
}

:global :local(.rotateOut svg) {
  animation: rotateOut 1s ease-in-out both;
}

:global :local(.rotateIn svg) {
  animation: rotateIn 1s ease-in-out both;
}

:global :local(.fadeIn) {
  animation: fadeIn 0.5s ease-in-out both;
}

:global :local(.fadeOut) {
  animation: fadeOut 0.5s ease-in-out both;
}

@media only screen and (min-width: 768px) {
  .nav .menuList {
    display: flex;
  }

  .nav .mobileMenu,
  .nav ul.mobileList {
    display: none;
  }
}
